$sidebar-width: 20rem;
$ctrl-btn-size: 2.8rem;
$ctrl-icon-transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

.ctrlBtn {
  width: $ctrl-btn-size;
  height: $ctrl-btn-size;
  top: 0;
  right: 0;
  transform: translate(150%, 50%);
  transition: transform 350ms ease-in-out, right 350ms linear;
  &.hover:hover {
    @apply bg-cyan-300;
  }
}

.ctrlIcon {
  transition: $ctrl-icon-transition, background-color 200ms linear;
  &,
  &::before,
  &::after {
    width: calc($ctrl-btn-size * 5 / 9);
    height: 3px;
    background-color: black;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: $ctrl-icon-transition;
  }
  &::before {
    bottom: 6px;
  }
  &::after {
    top: 6px;
  }
}

.sidebarSlot {
  min-width: 0;
  transition: min-width 300ms cubic-bezier(0.5, 0, 0.5, 1);
  &.open {
    min-width: $sidebar-width;
  }
}

.sidebarContent {
  height: 100vh;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 350ms ease-in-out 100ms, opacity 350ms linear;
}

.sidebar {
  width: $sidebar-width;
  transform: translateX(-100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);

  &.open {
    transform: translateX(0);
    .ctrlBtn {
      right: 50%;
      transform: translate(50%, 50%);
      &.hover:hover {
        @apply bg-red-500;
        .ctrlIcon::after,
        .ctrlIcon::before {
          @apply bg-white;
        }
      }
    }
    .ctrlIcon {
      background-color: transparent;
      transform: rotate(180deg);
      &::before {
        transform: translateY(6px) rotate(-45deg);
      }
      &::after {
        transform: translateY(-6px) rotate(45deg);
      }
    }
    .sidebarContent {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
